<h1>Order details</h1>
<mat-tab-group class="tabGroup" mat-align-tabs="start">
    <mat-tab label="Back " (click)="checkActiveGraph('back')"> 
        <!-- <div class="in-fields "> -->
            <div class="p-2">
                <label for="" class="label"> Length:  </label>
                <input id="length" name="length" [(ngModel)]="length"
                type="text" class="input" contenteditable="true">
            </div>         
            <div class="p-2">
                <label for="" class="label"> Chest:  </label>
                <input id="chest" name="chest" [(ngModel)]="chest" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Waist:  </label>
                <input id="waist" name="waist" [(ngModel)]="waist" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Neck Height:  </label>
                <input id="neckHeight" name="neckHeight" [(ngModel)]="neckHeight" (change)="reDraw()"
                type="text" class="input" contenteditable="true"> ((---change here--))
            </div>
            <div class="p-2">
                <label for="" class="label"> Arm round:  </label>
                <input id="armRound" name="armRound" [(ngModel)]="armRound" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Arm round Height:  </label>
                <input id="armRoundHeight" name="armRoundHeight" [(ngModel)]="armRoundHeight" 
                type="text" class="input" contenteditable="true">                   
            </div>        
        <!-- </div> -->
    </mat-tab>
    <mat-tab label="Front " (click)="checkActiveGraph('front')"> 
        <!-- <div class="in-fields "> -->
            <div class="p-2">
                <label for="" class="label"> Front Length:  </label>
                <input id="length" name="length" [(ngModel)]="length"
                type="text" class="input" contenteditable="true">
            </div>         
            <div class="p-2">
                <label for="" class="label"> Front Chest:  </label>
                <input id="chest" name="chest" [(ngModel)]="chest" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Front Waist:  </label>
                <input id="waist" name="waist" [(ngModel)]="waist" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Front Neck Height:  </label>
                <input id="neckHeight" name="neckHeight" [(ngModel)]="neckHeight" 
                type="text" class="input" contenteditable="true">
            </div>
            <div class="p-2">
                <label for="" class="label"> Front Arm round:  </label>
                <input id="armRound" name="armRound" [(ngModel)]="armRound" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Arm round Height:  </label>
                <input id="armRoundHeight" name="armRoundHeight" [(ngModel)]="armRoundHeight" 
                type="text" class="input" contenteditable="true">                   
            </div>        
        <!-- </div> -->
    </mat-tab>
    <mat-tab label="Sleeve" (click)="checkActiveGraph('sleeve')">   
        <!-- <div class="in-fields "> -->
            <div class="p-2">
                <label for="" class="label"> Side Length:  </label>
                <input id="length" name="length" [(ngModel)]="length"
                type="text" class="input" contenteditable="true">
            </div>         
            <div class="p-2">
                <label for="" class="label"> Side Chest:  </label>
                <input id="chest" name="chest" [(ngModel)]="chest" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Side Waist:  </label>
                <input id="waist" name="waist" [(ngModel)]="waist" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Side Neck Height:  </label>
                <input id="neckHeight" name="neckHeight" [(ngModel)]="neckHeight" 
                type="text" class="input" contenteditable="true">
            </div>
            <div class="p-2">
                <label for="" class="label"> Arm round:  </label>
                <input id="armRound" name="armRound" [(ngModel)]="armRound" 
                type="text" class="input" contenteditable="true">            
            </div>
            <div class="p-2">
                <label for="" class="label"> Arm round Height:  </label>
                <input id="armRoundHeight" name="armRoundHeight" [(ngModel)]="armRoundHeight" 
                type="text" class="input" contenteditable="true">                  
            </div>        
        <!-- </div> -->
    </mat-tab>
    <mat-tab label="Patti" (click)="checkActiveGraph('patti')">
        <div class="p-2">
            <label for="" class="label"> Arm round:  </label>
            <input id="armRound" name="armRound" [(ngModel)]="armRound" 
            type="text" class="input" contenteditable="true">            
        </div>
        <div class="p-2">
            <label for="" class="label"> Arm round Height:  </label>
            <input id="armRoundHeight" name="armRoundHeight" [(ngModel)]="armRoundHeight" 
            type="text" class="input" contenteditable="true">                   
        </div>        
        
    </mat-tab>
  </mat-tab-group>
  <div >
    <svg class="graph" width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="325.5" y1="451" x2="325.5" y2="701" stroke="black"/>
        <line x1="325.5" y1="701" x2="325.5" y2="760" stroke="black"/>
        <line x1="778.471" y1="700.832" x2="799.471" y2="759.832" stroke="black"/>
        <path d="M325 760.491L799 760.491" stroke="black"/>
        <path d="M325 731L788 731" stroke="black"/>
        <path d="M325 700.491L778.999 700.491" stroke="black"/>
        <path d="M778.507 700L778.507 398.003" stroke="black"/>
        <path d="M719 700L721.507 397.997" stroke="black"/>
        <path d="M467 118L558 128" stroke="black"/>
        <path id="leftArc" 
        d="M468 118C520 423 416 455 326 451" stroke="black"/>
        <path id="leftArcRed" 
        d="M465 118C520 423 516 455 326 461" stroke="red"/>
        <path id="rightArc" d="M558 128.5C569.659 367.939 630.862 404.195 779 399" stroke="black"/>
        <!-- <foreignObject width="850" height="850" x="0" y="0" id="my-form">
            <label for="" class="label">Top X  </label>
            <input id="topX" name="topX-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Top Y</label>
            <input id="topY" name="topY-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Top curvature X </label>
            <input id="topCX"  name="topCX-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Top curvature Y</label>
            <input id="topCY"  name="topCY-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Bottom curvature X </label>
            <input id="btmCX" name="btmCX-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Bottom curvature Y</label>
            <input id="btmCY" name="btmCY-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Bottom X</label>
            <input id="btmX" name="btmX-ph" type="text" class="input" contenteditable="true">
            <label for="" class="label">Bottom Y</label>
            <input id="btmY"  name="btmY-ph" type="text" class="input" contenteditable="true">
          </foreignObject> -->
        </svg>            
</div>
<div *ngIf="pattiActive | async">
    <svg class="graph" width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Patti" >
        <line id="lv" x1="325.5" y1="451" x2="325.5" y2="701" stroke="black"/>
        <path id="hb1" d="M325 700.491L778.999 700.491" stroke="black"/>
        <path id="lv2" d="M778.507 700L778.507 398.003" stroke="black"/>
        <path id="lv2_2" d="M719 700L719 432" stroke="black"/>
        <path id="Vector 1" d="M778.5 400C531 544 465 496 326 451.388" stroke="black"/>
        </g></svg>

</div>
