.ol{
    border: 2px solid lightgrey;
    margin: 10px;
    padding: 10px;
    top:30%;
    left:10%;
    position: absolute;
    width: 75%;

}

.ol-create{
    top:20%;
    left:10%;
    position: absolute;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;

}
.ol-heading {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ol-detail {
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.p-2{
    padding: 5px;
    margin: 5px;
    
}

.low-opacity{
    opacity: 10%;
}
.ol-button {
    background: transparent;
    border: none;
}