<h1>Create Order</h1>
<div class="container">
    <div class="flex">
        <label for="" class="label">Customer Id: </label>
        <input type="text" class="input" disabled value="{{id}}">
    </div>
    <div class="flex">
        <label for="">First Name: </label>
        <input type="text" [(ngModel)]="firstName" name="firstName">
    </div>    
    <div class="flex">
        <label for="">Last Name: </label>
        <input type="text" [(ngModel)]="lastName" name="lastName">
    </div>
    <div class="flex">
        <label for="">Contact: </label>
        <input type="text" [(ngModel)]="contact" name="contact">
    </div>
    <div class="flex">
        <label for="">length: </label>
        <input type="text" [(ngModel)]="length" name="length">
    </div>
    <div class="flex">
        <label for="">Waist: </label> 
        <input type="text" [(ngModel)]="waist" name="waist">
    </div>
    <div class="flex">
        <label for="">Chest:  </label>
        <input type="text" [(ngModel)]="length" name="length">
    </div>
    <div class="flex">
        <label for="">Neck Height: </label>
        <input type="text" [(ngModel)]="neck" name="neck">
    </div>
    <div class="flex">
        <label for="">Arm Round: </label>
        <input type="text" [(ngModel)]="length" name="length">
    </div>
    <div class="flex">
        <label for="">Arm Round Height: </label>
        <input type="text" [(ngModel)]="length" name="length">
    </div>
    <div class="flex btn-flx">
        <button mat-button>Submit</button>
    </div>
</div>