.container{
    border: lightgray 1px solid;
    /* width: 70%;
    height: 70%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    margin: 10px;
    width: 400px;
        box-shadow: 2px 2px 20px rgb(55, 55, 55);
    

}

label{
    width: 40%;
    align-items: flex-end;
    justify-content: space-around;
}
input {
    width: 40%;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 10px;
}
.input:hover {
    box-shadow: inset 2px 2px 2px black, 1px 1px 2px black;
}
.flex{
    display: flex;
    margin: 10px;
    padding: 10px;
}
